body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.row {
  margin-top: 1rem;
}
#cal-button {
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  font-size: 11px;
  padding: 0.5rem 0.7rem;
  background-color: 	#FF8C00;
  color: white;

  &:hover {
    background-color:   #FF4500	;
  }

  &:active {
    background-color:   #FF4500	;
    transform: translateY(2px);
  }
}